@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar background tidak putih polos jika ada gap */
body {
    @apply bg-neutral-100;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
}

@media (max-width: 1024px) {
    main.ml-64 {
        margin-left: 0 !important;
    }
}